.context-form {
}
.context-form.horizontal .form-field {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}
.context-form.horizontal .form-field:first-child {
  margin-top: 0;
}

.context-form-theme-simple .form-field .form-field__label {
  padding-right: 6px;
  padding-top: 7px;
  text-align: right;
  font-size: 15px
}
.context-form-theme-simple .form-field.required .form-field__label:before {
  display: inline-block;
  margin-right: 2px;
  content: "*";
  color: #f5222d;
}
.context-form-theme-simple .form-field input {
  padding: 5px 8px;
  font-size: 14px;
}
.context-form-theme-simple .form-field.has-error input {
  border-color: #f5222d;
}
.context-form-theme-simple .form-field__description {
  color: darkgray;
}

.context-form-theme-simple .form-field__errors-holder {

}
.context-form-theme-simple .form-field__errors-message {
  color: #f5222d;
}
.context-form-theme-simple .form-footer__holder {
  padding-top: 20px;
}
.context-form-theme-simple.with-labels .form-footer__holder {
  padding-left: 30%;
}

/** HORIZONTAL LAYOUT */
.context-form-theme-simple.context-form.horizontal .form-field .form-field__label {
  width: 30%
}
.context-form-theme-simple.context-form.horizontal .form-field .form-field_container {
  display: flex;
  flex: 1;
}

