{
  "extends" : [
    "react-app"
  ],
  "rules"   : {
    "react/destructuring-assignment": "off",
    "react/sort-comp": "off",
    "key-spacing": "off",
    "prefer-destructuring": "off",
    "jsx-a11y/href-no-hash" : "off"
  }
}
