{
  "extends" : [
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "env" : {
    "es6": true,
    "node": true,
    "browser": true
  },  
  "plugins": [
    "jsx-a11y"
  ],
  "rules": {
    "no-undef": "error",
    "react/display-name": "off",
    "react/prop-types": "off",
    "max-len": [1, 120, 2, { "ignoreComments" : true}],
    "no-return-assign": "off",
    "react/sort-comp": "off",
    "indent": ["error", 2],
    "key-spacing": ["off", {
      "beforeColon": false
    }],
    "comma-dangle": ["error", "only-multiline"],
    "padded-blocks": ["off", {
      "classes": "always"
    }],
    "jsx-a11y/href-no-hash": "off",
    "space-before-function-paren": "off",
    "jsx-quotes": ["error", "prefer-single"]
  }
}
